* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #004B5B;
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
.navbar.sticky{
    background: #111111;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 65px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: rgb(131, 131, 131);
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
@media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
}
@media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
}
@media (max-width: 980px) {
    body.disabled{
      overflow: hidden;
}
    .icon{
      display: block;
}
    .icon.hide{
      display: none;
}
.navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      transition: all 0.3s ease;
      background-color: #131313;
}
.navbar.show .menu-list{
      left: 0%;
}
.navbar .menu-list li{
      margin-top: 45px;
}
.navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
      margin-left: 0px;
    }
}
@media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
}
#homeSection {
    height: 1000px;
    width: 100%;    
    display: inline-block;
    background-color: #004B5B;
}
#gameModes {
    height: 780px;
    width: 100%;    
    display: inline-block; 
    background-color: #fff;
}
#gameSection {
    height: 350px;
    width: 100%;
    display: inline-block;
    background-color: #131313;
    margin-bottom:-7px;
}
#aboutSection {
    height: 900px;
    width: 100%;
    display: inline-block;
    background-color: #131313;
    margin-bottom:-7px;
}
.foods, .reviews {
    text-align: center;
    color: black;
    font-size: 35px;
}
.reviews {
    color: #fff;
}
.logo img {
    max-width: 70px;
}
#card_holder, #cardHolderFoods, #cardHolderReviews {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 70%;
    margin: auto;
    height: 80%;
}
.card {
    width: 380px;
    height: 350px;
    background-color: #004B5B;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ease;
}
svg {
    display: block;
    position: absolute;
    bottom: -10%;
    left: 0;
}
@media screen and (max-width: 1300px) {
    .card {
        width: 280px;
        height: 250px;
        border-radius: 8px;
        padding: 5px;
        margin-top: 10px;
    }
    .cardReviews:hover {
        transform: none;
    }
    .card a {
        margin-bottom: 5px;
    }
    svg {
        display: none;
    }
    #homeSection {
        height: 850px;
    }
    #aboutSection {
        height: 850px;
    }
    #gameSection {
        height: 650px;
    }
    #gameModes {
        height: 1050px;
    }
    .logo img {
        max-width: 70px;
    }
    .footer .payments img {
        display: none;
    }
    #cardHolderFoods .card img {
        width: 55%;
        border-radius: 15px;
        margin: auto;
    }
    .mainImgBox img, .aboutImgBox img {
        display: none;
    }
    .mainTextBox, .aboutTextBox {
        max-width: 100%;
    }
    .aboutContent {
        flex-direction: column;
        margin-top: 100px;
    }
    .mainTextBox h1, .aboutContent .aboutTextBox h1 {
        font-size: 2em;
    }
    .mainTextBox p, .aboutContent .aboutTextBox p {
        font-size: 5px;
    }
    section {
        padding: 20px;
    }
}
.card .top {
    text-align: center;
    color: white;
    font-size: 19px;
}
#cardHolderFoods .card {
    height: 290px;
}
#cardHolderFoods .card .top {
    text-align: left;
    color: white;
    font-size: 9px;
    margin-left: 3px;
}
.card img {
    width: 50%;
    margin: auto;
}
#cardHolderFoods .card img {
    width: 80%;
    height: 55%;
    border-radius: 15px;
    margin: 25px auto;
}
#cardHolderFoods h3 {
    margin: 5px 15px;
    color: white;
    text-align: left;
}
.card a {
    text-decoration: none;
    text-align: center;
    color:white;
    border-radius: 19px;
    width: 185px;
    padding: 5px;
    background-color: #080808;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}
.card a:hover {
    text-decoration: none;
    border-radius: 15px;
    width: 200px;
    background-color: black;
}
@media screen and (max-width: 991px) {
    .contact_us {
        padding: 20px;
    }
    .box {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
    }
    .map {
        min-height: 300px;
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 10ox;
        width: 100%;
    }
}
footer {
    background-color: #0000;
    height: auto;
    width: 100%;
    padding-top: 30px;
    color: #fff;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}
.footer .payments {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.footer .payments li {
    margin: 0 10px;
}
.footer .documents {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0 1rem 0;
}
.footer .documents li {
    margin: 0 10px;
}
.footer .documents li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}
.footer .documents li a:hover {
    text-decoration: none;
    color: rgb(63,94,251);
}
.footer_bottom {
    background: #111111;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.foodsFood .foodsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 60px;
}

.foodsFood .foodsTitle h2 {
    color: #fff;
    font-weight: 500;
}
.foodsFood {
    position: relative;
    width: 100%;
    padding: 40px 100px;
    margin: auto;
}
.mainTextBox {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
}
.mainTextBox h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 500;
}
.mainTextBox p {
    font-size: 2em;
}
button {
    width: 180px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 12px;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background: transparent;
    transition: all ease 0.3s;
}
button:hover {
    width: 200px;
    color: black;
    border: 2px solid black;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foodsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
.foodsMenu {
    font-size: 14px;
}
.menuGroupHeading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}
.menuGroup {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
.menuItem {
    display: flex;
}
.menuItemImage {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
.menuItemText {
    flex-grow: 1;
}
.menuItemHeading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menuItemName {
    margin-right: 1.5em;
}
.menuItemDescription {
    line-height: 1.6;
}
@media screen and (min-width: 992px) {
    .foodsMenu {
      font-size: 16px;
    }
    .menuGroup {
      grid-template-columns: repeat(2, 1fr);
    }
    .menuItemImage {
      width: 125px;
      height: 125px;
    }
}
.aboutContent {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutContent .aboutTextBox {
    position: relative;
    max-width: 600px;
}
.aboutContent .aboutTextBox h1 {
    color: #004B5B;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    text-align: right;
}
.aboutContent .aboutTextBox p {
    color: #fff;
    font-size: 22px;
    text-align: right;
}
.aboutContent .aboutImgBox {
    width: 550px;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    transition: all 0.5s ease;
}
.aboutContent .aboutImgBox img {
    max-width: 750px;
    border-radius: 15px;
}
.aboutContent .aboutImgBox:hover {
    transform: scale(1.05);
}
button a {
    text-decoration: none;
    color: white;
}
button a:hover {
    text-decoration: none;
    color: black;
}
.container_holder {
    width: 100%;
    position: absolute;
    top: 46%;
    transform: translateY(-40%);
    text-align: center;
}
.container {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.container p {
    color: #fff;
}
.container  img {
    width: 500px;
    border-radius: 12px;
    margin-left: 20px;
}